/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main {
/*background-image: url("https://assets.codepen.io/7248/grid-1.png");*/
width: 80vw;
margin: 20px auto;
border: 1px solid #000;  
}

header.primary, footer.primary{
 /*width:920px;*/
 width: 95.833%;
 background: rgba(3, 71, 14, 0.725);
 margin: 2.0833%;
 padding: 20px;
 float: left; 
}

#blog{
  width: 46.739%;
  margin-left: 2.0833%;
  background: rgba(3, 71, 14, 2);
  padding: 20px;
  float: left;
  height: 574px;

}

aside {
  background: rgba(3, 71, 14, 2);
  width: 46.739%;
  margin-right: 2.0833%;
  padding: 20px;
  float: right;
  height:574px;
}
